<style>
    /* Images */
    figure.content-center {
        max-width: 860px;
        margin: 0 auto;
    }

    #relight {
        display: inline !important;
    }

    .dark #relight {
        display: none !important;
    }

    #redark {
        display: none !important;
    }

    .dark #redark {
        display: inline !important;
    }

    .katex .mathsf,
    .katex .textsf {
        font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 1rem;
    }
</style>